:root {
    --position-width: 60px;
    --name-width: 85px;
    --day-width: calc(var(--position-width) + var(--name-width));
    --week-width: calc((var(--day-width) * 7) + 20);
}

body {
    margin: 0px;
}

.resident-availability-name {
    display: inline-block;
    width: var(--name-width);
}

.button {
    margin-left: 0px;
}

input[type="checkbox"]:not(:checked) + span {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
}

.schedule {
    table-layout: fixed; /* auto vs fixed */
    width: 1200px;
}

th, td {
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: black;
    color: white;
    border-right-color: white;
}

td {
    vertical-align: top;
    /*width: var(--day-width);*/
}

.blue-text {
    color: blue;
}

.red-text {
    color: red;
}

.purple-text {
    color: purple;
}

.black-text {
    color: black;
}

.resident:hover {
    cursor: pointer;
}

.sidebar {
    height: 1000px;
    width: 220px; 
    position: absolute;  /*Stay in place */
    left: 0px;
    transition: 0.5s; 
    padding: 5px;
    overflow: scroll;
    scrollbar-width: none;
  }

.main {
    transition: margin-left 0.5s; /* If you want a transition effect */
    margin-left: 225px;
    width: calc(var(--week-width));
}

.position-column {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: var(--position-width);
}

.name-column {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: var(--name-width);
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    position: absolute;
    margin-left: 10px;
    /*border-radius: 0px;  use this to round edges of tooltip */
    padding: 5px;
    font-weight: normal;
}

.resident:hover .tooltip {
    visibility: visible;
}

.resident .tooltip::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.custom-menu {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.custom-menu-item:hover {
    background-color: #e1e1e1;
}

.sidebar-title {
    margin: 5px;
}